<div>
  <pre>
  <%= $game.own_board_view($game.player_1) %>
<!--  <%= $game.own_board_view($game.player_2) %>
  <%= $game.opponent_board_view($game.player_1) %>
  <%= $game.opponent_board_view($game.player_2) %>  -->
  </pre>
  <p>
    You have placed your first ship
  </p>
</div>
