<% if @ship_direction %>
<% $game.player_1.place_ship Ship.submarine, :B1, :vertical %>
<% end %>

<% if @fire_coordinates %>
<% @result = $game.player_1.shoot @fire_coordinates.to_sym %>
<% end %>

<div>
<strong>View of Opponent Board</strong>
  <pre>
<%= $game.own_board_view($game.player_1) %>

  ------------

<%= $game.opponent_board_view($game.player_1) %>
</pre>
<p></p>
  Enter coordinates to place ship
  <form action='/start_game' method='POST'>
  Ship Type:
 <select name="ship_type"> 
  <option value="Ship.submarine">Submarine</option>
  <option value="Ship.destroyer">Destroyer</option>
  <option value="Ship.cruiser">Cruiser</option>
  <option value="Ship.battleship">Battleship</option>
  <option value="Ship.aircraft_carrier">Aircraft Carrier</option>
 </select>
  Ship Coordinate:<input type="text" name="ship_coordinates">
  Ship Direction:
  <select name="ship_direction">
  <option value="vertical">vertical</option>
  <option value="horizontal">horizontal</option>
  </select>
  <input type="submit" value="Place">
  </form>
</div>

<div>
  <form action='/start_game' method='POST'>
  Enter coordinates to fire
  <input type="text" name="fire_coordinates">
  <input type="submit" value="Fire">
  </form>
</div>
<strong><%= @result %></strong>




  <!---<p>


  Enter coordinates to fire upon opponent
  </p>
  <form action="/shoot">
    <input type="text" name="coordinates">
    <input type="submit" value="Fire">
  </form>
</div> -->
